* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing:  border-box;
}

header{
    display: flex;
    align-items: center;
    gap: 40px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.headerLeft{
    display: flex;
    align-items: center;
}


.logo{
    padding: 24px 30px;
    border-right: 1px solid #ccc;
}

.headerAddress{
    padding: 20px 30px;
}

.headerAddress h3{
    font-size: 18px;
    margin-bottom: 5px;

}

.headerAddress p{
    font-size: 14px;

}

.searchBox{
    flex-grow: 1; 
    background-color: #f8f8f8;
    display: flex;
    border-radius: 15px;
    border: 1px solid #f4f4f4;
}
.searchBox button{
    padding: 15px;
    border: none;
    background-color: transparent;
}
.searchBox input{
    flex-grow: 1;
    border: none;
    background-color: transparent;
}
.searchBox input:focus{
    outline: none;
}
.headerBtn{
    display: flex;
    gap: 40px;
    margin-right: 40px;
    
}
.headerBtn button{
    font-size: 16px;
    padding:  15px;
    background-color: transparent;
    border: none;
}

.headerBtn button:last-child{
    color:white; 
    border-radius: 5px;
    font-weight: bold;
    background-color: rgb(12, 131, 31);
}


.bannerSection{
    margin: auto;
    max-width: 1280px;
}
.bannerSection img{
    width: 100%;
    
}
.orderBanner{
    display: flex;
    max-width: 1280px;
    margin: auto;
}
.orderBannerItems{
    flex-basis: 27%;
    margin: 1%;
}
.orderBannerItems img{
    width: 100%;
    
}
.categorySection{
    max-width: 1280px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: auto;
    
}
.categoryItems{
    flex-basis: 10%;
   
}
.categoryItems img{
    width: 100%;
    
}
.productSection{
    max-width: 1280px;
    margin: auto;
    padding: 30px 0px 0px 0px;
}
.headingRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}
.headingRow h2{
    font-size: 22px;
}
.headingRow a{
    color: #328839;
    font-size: 18px;
}

.productRow{
    width: 100%;
    margin: 30px 0px 0px 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    
}

.productItems{
    flex-basis: 15%;
    box-shadow: 0px 0px 10px 2px #fcfcfc;
    border-radius: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

.productImg{
    text-align: center;
    padding: 15px;
}

.productImg p{
    background-color: #f8f8f8;
    display: flex;
    width: 60px;
    gap: 5px;
    padding: 1px;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    text-align: left;
}

.productContent{
    padding: 15px;
    padding-top: 0px;
}

.productContent h3{
    margin-bottom: 15px;
    font-size: 14px;
    
}
.productContent p{
    font-size: 14px;
    color: #848080;
}
.btn-price-outer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}
.btn-price-outer button{
    border: 1px solid #328839;
    background-color: #f7fff9;
    border-radius: 10px;
    padding: 5px 15px;
}

footer{
    padding: 40px 0px 0px 0px;

}

.footer-mid{
    max-width: 1280px;
    margin: auto;
}
.footer-mid-row1 {
    width: 100%;
    display: flex;
    gap: 40px;

}

.footer-mid-row1-left{
    flex-basis: 30%;
}

.footer-mid-row1-left h3{
    margin-bottom: 20px;
   
}

.useFulLinks{
    display: flex;
}

.useFulLinks ul{
    flex-basis: 33%;
    list-style: none;
}

.useFulLinks ul li a{
    font-size: 14px;
    margin-bottom: 10px;
    display: block;
    color: rgb(102, 102, 102);
    text-decoration: none; 
}
    
.footer-mid-row1-right{
   flex-basis: 70%;
}


.CategoriesHeadingRow{
    display: flex;
    margin-bottom: 20px;
    gap: 15px;
    align-items: center;
       
}

.footer-mid-row3 p{
    padding: 20px 0px;
    color: rgb(102, 102, 102);
    font-size: 14px;
    line-height: 20px;
}

.footer-mid-row2{
    background-color: #fcfcfc;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 20px 0px;
}

.footer-mid-row2 p{
    flex-basis: 40%;
    font-size: 14px;
    text-align: center;
 
}

.AppIcons{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-basis: 30%;
}

.socialLinks{
    display: flex;
    gap: 10px;
}
.socialLinks i{
    width: 40px;
    color: white;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f1f1f;
    
}




